* {
	margin:0;
	padding:0;
}

body {
	/*background-image: url('12.jpg');*/
	/*background-color: #2c582c;*/
}

.wrapper {
/*
	border-style: solid;
	border-width: 10px;
	border-color: rgba(0, 0, 0, 0.3);
	*/
	/*border: 10px solid rgba(0, 0, 0, 0.1);*/
	border-left: 10px solid #aaaaaa;
	border-right: 10px solid #aaaaaa;
	margin: 0 auto;
	width: 800px;
	background-image: url('../img/squares.jpg');
}

header {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 25px;
}

header h1 {
	font-family: 'Neuton', serif;
	font-size: 52px;
	color: #8c1930;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

header h2 {
	font-family: 'Permanent Marker', cursive;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	font-size: 20px;
	color: #222222;
}

.container {
	width: 680px;
	margin: 0 auto;
	/*-moz-border-radius: 15px;
	border-radius: 5px;
	border: 2px solid #4c4c4c;*/
	/*background-color: #f5f0f5;*/
}

.story {
	clear: both;
	font-family: 'Neuton', serif;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	/*border-bottom: 1px solid;*/
}

.with-border {
	border-top: 2px solid #4c4c4c;
}

.story img {
	float: left;
	padding: 0px 10px 0px 10px;
	margin-bottom: 5px;
}

.story p {
	display: block;
	overflow: hidden;  
}

.detail {
	color: #8B8888;
	font-style: italic;
}

.detail a {
	color: #8B8888;
}
