<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>redditistics | What's on the front page?</title>
		<link rel="stylesheet" href="static/css/style.css">
		<link href='http://fonts.googleapis.com/css?family=Neuton:400,800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="wrapper">
			<header>
				<h1>redditistics</h1>
				<h2>What's on the front page?</h2>
				<hr>
			</header>
			{% block content %}{% endblock %}
			<footer>I'm footer</footer>
		</div>
	</body>
</html>
