{% extends "base.html" %}

{% block content %}
<p class="pull-right"><a href="{{ url_for('api_page') }}">Go to the API page &rarr;</a></p>
<div id="center-canvas">
    <canvas id="canvas" height="350" width="350"></canvas><br />
</div>
<script>
    var pieData = [];

    var colors = ["#F38630", "#F13035", "#F3D230", "#949FB1", "#46BFBD", "#4D5360", "#1D948F", "#998999", "#FFB571", "#304A73"];
    var color_index = 0;

    {% for subreddit in popular_subreddits %}
        pieData.push({ value: {{subreddit['number']}}, color: colors[color_index], label:'{{subreddit['_id']['subreddit']}}', labelColor: 'white', labelFontSize: '125%'});
        color_index++;
    {% endfor %}

    var myChart = new Chart(document.getElementById("canvas").getContext("2d"));
    var myPie = myChart.Pie(pieData, {
        animationSteps: 100,
        animationEasing: 'easeOutBounce'
    });
</script>
<hr>
<div class="center-content">
    <button type="button" class="btn btn-large btn-primary" onclick="location.href='{{ url_for('archive', year=prev_day.year, month=prev_day.month, day=prev_day.day) }}'">
        <span class="glyphicon glyphicon-chevron-left"></span> Previous day
    </button>

    {% if not is_today %}
    <button type="button" class="btn btn-large btn-primary" onclick="location.href='{{ url_for('archive', year=next_day.year, month=next_day.month, day=next_day.day) }}'">
        Next day <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
    {% else %}
    <button type="button" class="btn btn-large btn-primary" disabled="disabled">
        Next day <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
    {% endif %}
</div>

<div class="center-content">
    <h3>{{ page_title }}</h3>
</div>

{% for story in stories %}
    {% include 'story.html' %}
{% endfor %}

{% endblock %}
